/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

#content-main {
  padding-left: 30px;
  margin-right: 2%;
}

#content.active {
    width: 100%;
}

.panel-heading{
	border-bottom: 1px solid grey;	
}